body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightsalmon;
    color: rgb(27, 1, 0);
}

section {
    text-align: center;
}

.game--title {
    margin: 20px 20px;
    color:#63403c;
    font-size: 48px;
    font-weight: 500;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 35px auto;
    color: brown;
    
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    background-color: rgb(159, 235, 197);
}

.game--restart {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
}


.game--restart:hover {
    background-color: chartreuse;
    color: black;
}
